asgiref
boto3
botocore
Django
django-ckeditor
django-crispy-forms
crispy-bootstrap4
django-filter
django-js-asset
django-storages
docutils
gunicorn
jmespath
pillow
# psycopg2
psycopg2-binary
python-dateutil
pytz
s3transfer
six
sqlparse
urllib3
whitenoise
python-dotenv
